/*=================================================*/
/*================= mobile & All =================*/
/*===============================================*/
body {
/*  background-image: url("/images/pro-news-bg.jpeg"); */
background-color:  white;
font-size: 18px;
line-height: 1.5;
font-family: 'Karla', arial, sans-serif;
font-weight:400;
text-align: center;
}
h1{

}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.flex-container > section {
    background-color: #f2f2f2;


  width: 450px;
  height: 300px;
  margin: 0.5%;
  text-align: left;
    align-content: center;
  font-size: 50px;
}
section{


}
/*===============================================*/
/*================= tablet ======================*/
/*===============================================*/


/*===============================================*/
/*================= desktop =====================*/
/*===============================================*/
